
<div class='card'>
  <div class='card-header'>
      <h4 class="text-center text-muted">Select seats</h4>
  </div>
  <div class='card-body'>

      <div class="container">
          <main class="innerContainer">
              <div class="movie">
                  <h3 class="movieTitle">{{title}}</h3>
                  <div class="movieDetails">{{location}} - {{time}}</div>
              </div>
        
              <!-- Showing a static legend bar -->
              <div class="legend">
                  <span class="freeSeat"> <i class="fa fa-circle" aria-hidden="true"></i></span> FREE
                  <span class="reservedSeat padding-left">  <i class="fa fa-ban" aria-hidden="true"></i></span> TAKEN
                  <span class="selectedSeat padding-left">  <i class="fa fa-check" aria-hidden="true"></i></span> SELECTED                
              </div>
        
              <p class="font14 marginTop5">SCREEN THIS WAY</p>
              <div class="screen"></div>
        
              <!-- Generate the seating grid -->
              <div *ngFor="let row of rows">
                  <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col)" 
                          [ngSwitch]="getStatus(row + col)">
                      <span *ngSwitchCase="'selected'" class="selectedSeat">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span *ngSwitchCase="'reserved'" class="glyphicon glyphicon-ban-circle reservedSeat">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                      </span>
                      <span *ngSwitchDefault class="freeSeat">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </span>
                  </span>
              </div>
        
              <!-- Structural directive - only visible on selection -->
              <div *ngIf="selected.length > 0" class="font14 marginTB10">
                  <div class="wordWrap">SEATS RESERVED : {{selected.length}} ({{selected}})</div>
                  <div>PRICE : {{ticketPrice}} * {{selected.length}} = {{currency}}.{{ticketPrice*selected.length}} </div>
                  <div>CONVENIENCE FEE : {{currency}}.{{convFee}}</div>
                  <div>TOTAL : {{currency}}.{{ticketPrice * selected.length + convFee}}</div>
              </div>
        
              <!-- Action buttons -->
              <div class="buttonBar marginTop5">
                  <button (click)="cancel()" [disabled]="selected.length === 0" class="btn btn-default btn-sm">Clear</button>
                  <button (click)="processBooking()" [disabled]="selected.length === 0" class="btn btn-success btn-sm">Buy Tickets</button>
              </div>        
          </main>     
        </div>

  
  </div>
  <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              (click)='goBack()'
              style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
</div>    