<nav class="navbar navbar-expand-lg">


  <a class="navbar-brand">Book Your Favourite Movies here !!</a>

  <ul class='nav navbar-nav'>

      <li class="nav-item dropdown" ngbDropdown >
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>


              <label style="color:white;">Menu</label>
              <b class="caret"></b>
          </a>
          <div class="dropdown-menu-right" ngbDropdownMenu>

              <a  [routerLink]="['theatres']" class="dropdown-item">
              {{ 'Theatres' }}
              </a>
  
              <a  [routerLink]="['bookings']" class="dropdown-item">
                 {{ 'My Bookings'  }}
              </a>

          </div>
      </li>
  </ul>

  <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown >
          <a href="javascript:void(0)" class="nav-link">


              <label style="color:white;cursor: pointer;" (click)="logout()">Logout</label>
          </a>
      </li>

  </ul>

</nav>
  <br>
 
    
 
       <br>

   <div *ngIf="movies.length==0" class="text-center text-muted">
     <h3>Currently no movies available right now !!</h3>
   </div>  
   <app-loader></app-loader>  
   <div class="row" *ngIf="movies!= null">
     <div class="col-md-12">
 
       <div class="container">
 
        
          <div class='row'>
               <div class='col-md-2'>Search by:</div>
               <div class='col-md-6'>
                 <input type='text' placeholder="Title"
                 [(ngModel)]='searchtext'/>          
               </div>
          </div>
          <br>

          
        
        

          <div class="card-header text-center text-muted">
            <div class="row">
                <div class='col-md-2 '>
                    <a [routerLink]="['/movies']"  [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="nowShowing()">
                      <span>{{ 'Now Showing'  }}</span>
                  </a>
                  </div>
                  <div class='col-md-2'> 
                    <a [routerLink]="['/movies']"  [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="nextChange()">
                      <span>{{ 'Next Change'  }}</span>
                      </a>
                  </div>
            </div>
           </div>
 
             <br>
 
 
         <div class="row" *ngIf='showing==true'>
            <div *ngFor="let movie of nowMovies | sortBy: sortByKey | searchpipe: searchtext">
                <mat-card class="example-card">
                      <img mat-card-image src={{movie.poster}} alt="loading...">
                      <a [routerLink]="['movie', movie._id]" routerLinkActive="router-link-active" class="text-center">{{ movie.title }}</a>
                     
                                       
                      <mat-card-footer>   
                      <span mat-icon-button  color="accent">
                      <mat-icon style="margin-left:8px; margin-top: 4px;" color="accent" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                      </span><sup><b style="margin-left:8px">{{movie.rating}}</b>
                            </sup>
                      <button (click)="book(movie)" mat-flat-button color="primary" style="margin-bottom:48px;margin-left:120px">Book</button> </mat-card-footer>
                     
                </mat-card>
              </div>
         </div>
       

         <div class="row" *ngIf='showing==false'>
            <div *ngFor="let movie of nextMovies | sortBy: sortByKey | searchpipe: searchtext">
              <mat-card class="example-card">
                <img mat-card-image src={{movie.poster}} alt="loading...">
                <a [routerLink]="['movie', movie._id]" routerLinkActive="router-link-active" class="text-center">{{ movie.title }}</a>
               
                                 
                <mat-card-footer>   
                <span mat-icon-button  color="accent">
                <mat-icon style="margin-left :8px" color="accent" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                </span><sup><b style="margin-left :8px">{{movie.rating}}</b>
                      </sup>
                      <span style="margin-left :128px"> <a (click)="notify()" style="cursor:pointer"><i class="fa fa-bell" style="font-size:36px;color:yellowgreen"></i></a></span> </mat-card-footer>
               
          </mat-card>
              </div>

              
        </div>
       </div>
       <!--/.Card-->
     </div>
   </div>
 